@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1605936908074'); /* IE9 */
  src: url('iconfont.eot?t=1605936908074#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABqAAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIEkATYCJAMICwYABCAFhG0HMRvLBRHVkyNkf0Ukx+5HmQhJkSTDNJ6p5C0roCcZvT/pAxc0fqwb4KRgK5AAAAAAABE8vz++Oe/eTyaAjV4wAYjbN4Mlbogb0oakBob8l7Y1XqykhYRF0ie+az/ZCfjY68XN1qQJVOfLxrTisYWLPsyyQMbqtjxAZjm0cJACuPUJH//fBYWVzMAh14qxADgwfbvKepsLgGQARE6ElsaUAfw34HL6E+hBRp03HPeivWgsegww3hrgXhhFViABRt4wdoFLuE+gUocxsbF1cNpBZi0LxL3bNy875OKyzErlQmnN3hzGphLlxeoRz8PPx18zyhGFkoRYdcdvbF5z/omtmAjOJVCCAA+XIGEMmThdmz9qLRiXVOY3ethXdfAT9n1ir27B/jqrshq0Qc09aV3drVYWIMPxacyPuo5cLYjC2HD/y2fUHw+8U63v1utKO+bTb0A5066l9+dssujdWvLvhwHHg6pzGvhVx7f6dHvFf67ANtbxd5AQ4PDakBoJgqetmWOduwkEPrdQpwRB+VkCwd8ichn5Ptdb+SIjtLQFCtMmXVqgUiUOERRu9G2so+XWyqFcyw0Gy7SnSMr1kZkdQ4kqcyhVbhmVRm0frtLkibXILMKIZwCh3gcUan1EUu8TmdmvKNHqP0rVR0KlsyGdWWUguHjCpIQs6h9GMw7O8cspqr6Sf3WKs/qQfxIvMYVFmhdLFxqI59iwvH0p4tDx2GMNHqOuG3HisSEjaRCZqixzdS9KzdjDCTApIYv6h9GMg/O7y6n0/iv5V6e4RVJTfxIvcXIs0rwHebEMvST38szy9qWIQ8djjzWYRV034lQ/qyEjaRiRnarM7uT6WtL1bf3X7QHgBJZzldhTk35xMGrwAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1605936908074') format('woff'),
  url('iconfont.ttf?t=1605936908074') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1605936908074#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yincang:before {
  content: "\e7ae";
}

